{% extends 'base.html.twig' %}

{% block title %}{{ 'demo.config.edit.title'|trans({'%locale%': translation.locale}) }}{% endblock %}

{% block body %}
    {% include 'demo/_nav.html.twig' %}

    <main class="container pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card shadow-sm">
                    <div class="card-body p-4">
                        <h1 class="h4 mb-3">{{ 'demo.config.edit.title'|trans({'%locale%': translation.locale}) }}</h1>
                        {% include 'demo/config/_form.html.twig' with { submit_label: 'demo.config.form.save'|trans } %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
