<div class="nowo-cookie-consent__preferences-intro">
    <h3 class="nowo-cookie-consent__preferences-intro-title">{{ title }}</h3>
    {% if description %}
        <p class="nowo-cookie-consent__preferences-intro-description">{{ description }}</p>
    {% endif %}
</div>
