{% set intro_sections = preference_sections|default([])|filter(section => section.categories|default([])|length == 0 and section.title is defined and section.title) %}

{% if intro_sections is not empty %}
    {% for section in intro_sections %}
        {% include '@NowoCookieConsentBundle/_preferences_intro.html.twig' with {
            title: section.title,
            description: section.description|default(''),
        } %}
    {% endfor %}
{% else %}
    {% include '@NowoCookieConsentBundle/_preferences_intro.html.twig' with {
        title: 'nowo_cookie_consent.preferences.usage_title'|trans({}, 'NowoCookieConsentBundle'),
        description: 'nowo_cookie_consent.preferences.usage_description'|trans({}, 'NowoCookieConsentBundle'),
    } %}
{% endif %}

{% if preference_sections is not empty %}
    <div class="nowo-cookie-consent__category-list">
        {% for section in preference_sections %}
            {% for category in section.categories|default([]) %}
                {% if form[category] is defined %}
                    {{ form_row(form[category]) }}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
{% else %}
    <div class="nowo-cookie-consent__category-list">
        {% for child in form %}
            {% if child.vars.block_prefixes[0] != 'button' and child.vars.name != '_token' %}
                {{ form_row(child) }}
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
