<button type="button"
        class="nowo-cookie-consent__manage-link{{ class is defined and class ? ' ' ~ class : '' }}"
        data-nowo-open-consent>
    {{ label|default('nowo_cookie_consent.manage_link'|trans({}, 'NowoCookieConsentBundle')) }}
</button>
